@import 'bootstrap/scss/bootstrap';

// VARIABLE
$uniq_font:  'Lobster', cursive;
$font-default: 'Oswald', sans-serif;;

$bg-default: #C996CC;
$bg-text: #1C0C5B;
$bg-bright: #916BBF;
$bg-dark: #916BBF;

.nav-title {display: flex; align-items: center; margin: 0px 10px;font-size: 20px;
  .fa {font-size: 20px;margin-right: 5px;}
}
.navbar {background-color: #fff; color:$bg-text; text-decoration:none; border-bottom: 1px solid $bg-text}
.mr-2 {margin-right:1rem}

.active {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  background: $bg-text;
  .nav-link {
    color: #fff;
  }
}
.content {
  padding:18px;
  box-shadow: 10px 10px 77px -28px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 10px 10px 77px -28px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 10px 10px 77px -28px rgba(0,0,0,0.75) inset;
  height: calc(100vh - 3rem);
}
.profile_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-text;
  height: 30%;
  width: 250px;
  margin-bottom: 20px;
  &_role {
    color: $bg-default;
    font-size: 40px;
    background: $bg-text;
  }
}
.card {
  width: 40vw;
  border: none;
  border-radius: 30px;
  border-bottom: 6px solid #DCDDE0;
  border-right: 6px solid #DCDDE0;
  border-left: 2px solid #DCDDE0;
  border-top: 2px solid #DCDDE0;
}
.btn-shadow {
  border-radius: 10px;
  border-bottom: 6px solid #DCDDE0;
  border-right: 6px solid #DCDDE0;
}
.btn-rounded {
  border-radius: 10px;
}

// SIDEBAR
.nav-item {
  padding: 0px 10px;
  margin: 0px 5px;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  .nav-link {
    &:hover {
      transition: all 0.5s;
      color: #fff;
    }
  }
  .nav-second-level {
    .nav-item {
      .nav-link {
        .nav-link-text {
          color: white;
        }
      }
    }
  }
  &:hover, &:focus {
    transition: all 0.5s;
    background: $bg-text;
    color: #fff;
  }
}

.nav-link{
  font-size: 20px;
  font-family: $font-default;
  color: $bg-text;
  // COLLAPSE
  &-collapse {
    &:after {
      float: right;
      padding-right: 10px;
      content: '\f067';
      font-family: 'FontAwesome';
    }
  }
  // SHOW
  &-show{
    &:after {
      float: right;
      content: '\f068';
      font-family: 'FontAwesome';
    }
  }
  .fa {
    font-size: 15px;
  }
}

.nav-item ul.nav-second-level {
  padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px;
}
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link {
  .fa {
    .badge {
      font-size: 0.75rem;
      position: absolute;
      right: 0;
      font-family: sans-serif;
    }
  }
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  line-height: 12px;
}

// MEDIA QUERY

@media (min-width: 992px) {
  .sidenav {
    padding:0;
    position: absolute;
    width: 250px;
    height: 100vh;
    background: #fff;
    border-right: 2px solid $bg-text;
  }

  .main {
    margin-left: 250px;
    padding: 0;
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }
 }
