@import 'bootstrap/scss/bootstrap';

// VARIABLE
$uniq_font:  'Lobster', cursive;
$font-default:  'Roboto', sans-serif;

$bg-default: #C996CC;
$bg-text: #1C0C5B;
$bg-bright: #916BBF;
$bg-dark: #916BBF;

.mr-2 {margin-right:1rem}
.btn-info {border-bottom: 5px solid #113CFC; border-right: 5px solid #113CFC;}
.btn-danger {border-bottom: 5px solid #8E0505; border-right: 5px solid #8E0505;}
nav { background-color: #261C2C; }
.nav-link { color: white; transition: all 5s; }
.nav-option { color: #fff; display: flex; justify-content: center; align-items: center; height: 70px; width: 100vw; background-color: #3D56B2; }
.nav-item a { color: #fff; }
.navbar-brand { color: white; }
.btn-primary {background-color:#1597E5;border-right: 5px solid #69DADB;border-bottom: 5px solid #69DADB;}
.btn-secondary {background-color: #082032;border-right: 5px solid #334756;border-bottom: 5px solid #334756;}
.btn-success {background-color: #1B8057;border-right: 5px solid #55A44E;border-bottom: 5px solid #55A44E;}
.btn-danger {background-color: #F73859;border-right: 5px solid #F06868;border-bottom: 5px solid #F06868;}
.btn-warning {background-color: #D98C00;border-right: 5px solid #FFA400;border-bottom: 5px solid #FFA400;}
.btn-info {background-color: #3D56B2;border-right: 5px solid #5C7AEA;border-bottom: 5px solid #5C7AEA;}
.btn-light {background-color: #cee5d0;color: black;border-right: 5px solid #F7F6F2;border-bottom: 5px solid #F7F6F2;}
.btn-dark {background-color: #11052C;border-right: 5px solid #3D087B;border-bottom: 5px solid #3D087B;}
.btn-link {background-color: #5F7A61; border-right: 5px solid #D5EEBB;border-bottom: 5px solid #D5EEBB}

.content {margin-top: 10vw}
